.demension_input_component{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 93px;
    height: 18px;
    .input, .naked_input{
        display: flex;
        align-items: center;
        color: #7B7B7B;
        box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
        border-radius: 5px;        
        width: 50%;
        background: #FFFFFF;
        font-size: 14px;
        padding-right: 6px;
        input{
            outline: none;
            width: 60%;
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;        
            border: none;
            background: #FFFFFF;
            color: #7B7B7B;
        }
    }
    .naked_input{
        padding-right: 0px;
        width: calc(50% + 6px);
        input{
            width: 100%;
        }
    }
    button{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 12px;
        height: 12px;
        background: #2A9DFC;    
        border-radius: 50%;
        border: none;    
        color: white;
    }
}